<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Record notification</title>
  </head>
  <body>
    <div style="background-color: #f3f3f3; padding: 20px;">
      <div>
        <p>
          {{data.currentDate}}
          | Привет
          {{data.name}}! Через 2 часа у вас приём у
          {{data.spec}}
          в
          {{data.time}}!
        </p>
      </div>
    </div>
  </body>
</html>